.git
.gitignore
.gitattributes

.github

README.md
LICENSE
CODEOWNERS
CONTRIBUTING.md
AGENTS.md

client/node_modules
client/src-tauri/target
client/dist

server/**/.env
server/**/.env.*

**/*.log
**/.DS_Store
**/Thumbs.db
