{
	email admin@example.com
}

example.com, www.example.com {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
		}
	}

	reverse_proxy h2c://backend:{$BOOT_PORT:50051} {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}